*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 80px;
  background-color: #343434;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;

}
.lists{
  display: flex;
  align-items: center;
}
.lists li{
list-style: none;
margin-right: 30px;
}
.lists li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

